[submodule "SwagAttack_GUI_Webserver_Mirror"]
	path = SwagAttack_GUI_Webserver_Mirror
	url = https://github.com/Gobbenobber/SwagAttack_GUI_Webserver_Mirror
[submodule "SwagAttack_Gameserver_Mirror"]
	path = SwagAttack_Gameserver_Mirror
	url = https://github.com/Gobbenobber/SwagAttack_Gameserver_Mirror.git
